/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
/*font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px green solid;*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 32px;
}
body {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
p {
  padding-left: 12px;
}
li {
  list-style: square;
  margin-left: 10px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #b30a12;
}
.row {
  /*max-width: 800px;*/
}
.header {
  padding: 0 5px 0 0px;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #ffebec;
}
@media screen and (min-width: 648px) {
  .navbar {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-top: 0px;
    background-color: #ffffff;
    margin-top: 0;
    text-align: center;
  }
  .navbar img#sitelogo {
    padding: 0;
    margin-top: -6px;
    width: 132px;
  }
  .navbar a {
    padding-left: 0;
    padding-right: 10px;
  }
}
@media screen and (max-width: 648px) {
  .navbar {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-top: 0px;
    background-color: #eeeeee;
    color: #ffffff;
    margin-top: 0;
    text-align: center;
  }
  .navbar img#sitelogo {
    padding: 0;
    margin-top: -6px;
    width: 132px;
  }
  .navbar a {
    padding-left: 30px;
    padding-right: 10px;
  }
}
.footer {
  background-color: #ffffff;
  min-height: 48px;
  padding: 16px;
}
@media screen and (min-width: 648px) {
  /* app */
  .jumbotron {
    display: block;
    padding: 60px 0 0 0;
    min-width: 720px;
    background: #ffffff;
  }
  .jumbotron img#banner-left {
    width: 64px;
    margin: 0;
    float: left;
    clear: none;
  }
  .jumbotron img#banner-right {
    width: 320px;
    float: left;
    clear: none;
  }
  .jumbotron .social-links-bar {
    width: 200px;
    float: left;
    clear: none;
  }
}
@media screen and (max-width: 648px) {
  .jumbotron {
    display: block;
    padding: 24px 0 0 0;
    margin: 32px 10px 0 0;
    width: 600px;
    background: #ffffff;
  }
  .jumbotron .social-links-bar {
    margin: -40px 0 0 132px;
  }
  .jumbotron img#banner-left {
    width: 64px;
    margin-left: -10px;
    float: left;
    clear: none;
  }
  .jumbotron img#banner-right {
    width: 260px;
    float: left;
    clear: none;
  }
  .social-links-bar {
    width: 360px;
    float: left;
    clear: both;
  }
}
.social-link {
  display: block;
  width: 12%;
  float: left;
  clear: none;
  padding: 0;
}
@media screen and (min-width: 648px) {
  .col-md-6 {
    padding: 4px;
  }
  .left-column {
    width: 50%;
    float: left;
    clear: left;
  }
  .right-column {
    width: 50%;
    float: left;
    clear: right;
  }
}
@media screen and (max-width: 648px) {
  .left-column {
    /*display: block;*/
    float: left;
    clear: left;
    width: 96%;
    min-width: 400px;
  }
  .right-column {
    /*display:block;*/
    float: left;
    clear: right;
    width: 96%;
    min-width: 400px;
  }
}
ul {
  margin: 15px;
  padding: 0 15px;
}
.who > li {
  list-style: circle;
  padding: 15px 5px;
}
span.who {
  font-weight: 700;
}
.box {
  display: inline-block;
  min-height: 120px;
  margin: 2.5px 0 2.5px;
  padding: 18px 24px;
  float: left;
  clear: both;
  width: 100%;
  background-color: #eeeeee;
}
.box h2 {
  margin: 0;
  padding-left: 0px;
  padding: 2px 0 10px;
}
.featured-1 {
  background-color: #e7f5fb;
}
.featured-2 {
  background-color: #ebfde9;
}
.faq-topic {
  width: 96%;
}
.topic {
  min-width: 300px;
}
.qa-pair {
  background-color: #e7f5fb;
}
.question {
  text-transform: uppercase;
  font-size: 20px;
}
.answer {
  padding-left: 5px;
}
.who {
  margin: 6px;
}
.who > ul {
  padding: 0;
  margin: 0;
}
.who > ul > li > i {
  background-color: #ebfde9;
  margin: 2px;
  min-height: 250px;
}
.daterow {
  clear: both;
}
.emptybox {
  float: left;
  clear: none;
  width: 52px;
  height: 48px;
  background-color: #e7f5fb;
}
.datebox {
  float: left;
  clear: none;
  min-width: 52px;
  height: 48px;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #e7f5fb;
}
.datebox a {
  color: #000000;
}
