/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
/*font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px green solid;*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
}
li {
  list-style: none;
}
.row {
  /*max-width: 800px;*/
}
.header {
  padding: 0 5px 0 0px;
}
@media screen and (min-width: 648px) {
  .navbar {
    padding-top: 0px;
    background-color: #dddddd;
    color: #ffffff;
    font-size: 1.4em;
    margin-top: 0;
    text-align: center;
    font-weight: 700;
  }
  .navbar img#sitelogo {
    padding: 0;
    margin-top: -6px;
    width: 132px;
  }
  .navbar a {
    padding-left: 0;
    padding-right: 10px;
  }
}
@media screen and (max-width: 648px) {
  .navbar {
    padding-top: 0px;
    background-color: #dddddd;
    color: #ffffff;
    font-size: 1.4em;
    margin-top: 0;
    text-align: center;
    font-weight: 700;
  }
  .navbar img#sitelogo {
    padding: 0;
    margin-top: -6px;
    width: 132px;
  }
  .navbar a {
    padding-left: 30px;
    padding-right: 10px;
  }
}
.footer {
  background-color: #ffffff;
}
@media screen and (min-width: 648px) {
  /* app */
  .jumbotron {
    display: block;
    padding: 24px 0 0 0;
    margin-top: 30px;
    margin-left: 4px;
    min-width: 648px;
    background: #fff5eb;
  }
  .jumbotron img#banner-left {
    width: 64px;
    margin: 0;
  }
  .jumbotron img#banner-right {
    width: 320px;
  }
}
@media screen and (max-width: 648px) {
  /* app */
  .jumbotron {
    display: block;
    padding: 24px 0 0 0;
    margin: 32px 10px 0;
    min-width: 420px;
    background: #fff5eb;
  }
  .jumbotron img {
    width: 320px;
    margin: 0;
  }
}
#banner-left {
  width: 64px;
}
#banner-right {
  width: 240px;
}
.social-links-bar {
  float: right;
}
.social-links-bar img {
  width: 32px;
  margin: 12px 8px 12px 4px;
}
@media screen and (min-width: 648px) {
  .left-column {
    width: 50%;
    float: left;
    clear: left;
  }
  .right-column {
    width: 50%;
    float: left;
    clear: right;
  }
}
@media screen and (max-width: 648px) {
  .left-column {
    /*display: block;*/
    float: left;
    clear: left;
    width: 96%;
    min-width: 400px;
  }
  .right-column {
    /*display:block;*/
    float: left;
    clear: right;
    width: 96%;
    min-width: 400px;
  }
}
.box {
  display: inline-block;
  min-height: 120px;
  margin: 2.5px 0 2.5px;
  padding: 16px 12px;
  float: left;
  clear: both;
  width: 100%;
  background-color: #ffebec;
}
.box h2 {
  padding-left: 0px;
}
.box .box-text > ul {
  margin: 0;
  padding: 0;
}
#featured-left {
  background-color: #e7f5fb;
  clear: left;
}
#featured-right {
  background-color: #ebfde9;
  clear: left;
}
.faq-topic {
  width: 96%;
}
.topic {
  min-width: 300px;
}
.qa-pair {
  background-color: #e7f5fb;
}
.question {
  text-transform: uppercase;
  font-size: 20px;
}
.answer {
  padding-left: 5px;
}
.who {
  height: 3em;
  margin: 6px;
}
.who > ul {
  padding: 0;
  margin: 0;
}
.who > li {
  background-color: #ebfde9;
}
.lt {
  width: 47.5%;
  float: left;
  clear: none;
}
.rt {
  width: 47.5%;
  float: left;
  clear: right;
}
