* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
	clear: right;
}
.jumbotron {
	padding: 60px 0 10px 0;
	margin: 0;
	min-width: 480px;
}

.social-links {
	width: 96px;
	height: 48px;
	float: right;
	clear: left;
	a {
		width: 32px;
		height: 32px;
	};
}

.announce {
	font-size: 24px;
	float: right;
	clear: both;
	display: inline-block;
	a {
		clear: both;
	}
}


.box {
	display: inline-block;
	max-width: 32%;
	min-width: 20%;
	min-height: 200px;
	margin: 5px;
	float: left;
	background-color: #EDFAFA;
}

.end-box {
	clear: right;
}

#featured-left {
	background-color: #22CC00;
}
#featured-center {
	background-color: #33FFCC;
}
#featured-right {
	color: white;
	background-color: #2200CC;
}

